.graph {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c8dcef+0,ffffff+100 */
  background: #c8dcef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c8dcef 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8dcef), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c8dcef 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c8dcef 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c8dcef 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c8dcef 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8dcef', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  height: 100%;
  overflow: hidden;
  width: 100%;
}
