.top-view {

  svg.hide-all {
    .node-group {
      .rect, text {
        opacity: 0;
      }

      .node-circle {
        opacity: 0.3;
      }

      &.watching.in-focus {
        .rect, text {
          opacity: 1;
        }
        .node-circle {
          opacity: 0;
        }

      }

    }

  }

  .node-group * {
    /*  -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;*/
  }

  .node-group {
    .rect {

      &.root {
        .rect-buttons {
          .pin-button, .un-pin-button {
            display: none !important;
          }
        }
      }

      .rect-buttons {
        .plus, .minus, .pin-button, .un-pin-button {
          display: none;
        }

        &.has-children {
          cursor: pointer;
          .plus {
            display: none;
          }
          .minus {
            display: block;
          }

          &.collapsed {
            .plus {
              display: block;
            }
            .minus {
              display: none;
            }
          }

          .pin-button {
            display: block;
          }

          .root-watching {
            .pin-button {
              display: none;
            }
            .un-pin-button {
              display: block;
            }
          }

        }

      }

      .toggle-children {
        opacity: 0;
        &.has-children {
          opacity: 1;
        }
      }
    }

    .rect-text {
      fill: white;
    }

    .rect, .rect-text {
      opacity: 0;

    }

    .node-circle {
      opacity: 1;
    }

    &.in-focus {
      .rect, .rect-text {
        opacity: 1;
      }
      .node-circle {
        opacity: 0;
      }
    }
    &.on-mouse-over {
      .rect, .rect-text {
        opacity: 1!important;
      }
      .node-circle {
        opacity: 0!important;
      }
    }
  }

  .node {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
  }

  .link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
  }
}
